section {
  display: none;
}

body {
  position: relative;
  min-height: 100vh;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px 0;
  color: white;
  background-color: navy;
  text-align: center;
}

.page-footer__link {
  font-weight: bold;
}

.page-footer__link:hover {
  opacity: 0.8;
}
