.main-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0;

  display: flex;
  justify-content: flex-end;
}

.main-nav__link {
  margin-left: 40px;
  padding: 24px;
}

.main-nav__link:hover {
  color: red;
}
