.read-more {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.read-more h1 {
  margin: 1.75rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #c4170c;
}

.read-more ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.read-more li {
  margin: 1.75rem;
  text-align: center;
}

.read-more li a {
  display: inline-block;
  width: 300px;
  padding: 1.5rem 2rem;
  color: white;
  background-color: #c4170c;
  font-weight: bold;
  transition: box-shadow 0.3s;
}

.read-more li a:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
