html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.75rem;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  font: inherit;
  line-height: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
